* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
}

p
{
    margin: 0;
}

#breaking-news-ticker
{
    background-color: #A30F15;
    color: #FFFFFF;
}

#breaking-news-content-container
{
    background-color: #FFE6DA;
}

#breaking-news-list
{
    padding:0;
    margin:0;
}

#breaking-news-list li
{
    color: #A30F15;
}

.navbar-header {
    height:300%;
    width:100%
}

.navbar-brand {
    margin:0;
    background: url("images/news.png") no-repeat center;
    background-size: contain;
    width: 100%;
    height:100%;
}

@media screen and (min-width: 768px)
{
    .navbar-brand {
        background-position: bottom;
    }
}