body {
    font-family: 'PT Serif', serif;
}

#top-4-stories {
    border-right: solid 1px gray;
}

h2 {
    font-family: 'DM Serif Display', serif;
    border-bottom: 1px solid gray;
    width:fit-content;
}

h2:not(#top-4-stories-h2-container h2) {
    font-size: 1.7rem;
}

h3:not(#top-4-stories-h3) {
    font-size: 1rem;
}

h4 {
    font-size: 0.7rem;
    color: gray;
}

.article-container {
    padding: 0.5rem 0;
}

#top-4-stories-h2-container {
    width: fit-content;
}

.card, .list-group-item {
    border: none;
    padding: 0;
}

#latest-stories-container .article-container {
    border-bottom: 1px solid gray;
}

h2, p
{
    margin: 0;
    padding: 0;
}

h2, article, .card-body, .col {
    padding: 0 !important;
}

#top-4-stories .card {
    padding-left: 0;
}

#breaking-news-content
{
    background-color: #FFE6DA;
}

#breaking-news-list
{
    margin: auto;
    color: #A30F15;

}

#breaking-news-ticker
{
    background-color: #A30F15;
    color: #FFFFFF;
}

#bottom-3-stories .article-container ::after {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    top: -1rem;
    bottom: -1rem;
}

#bottom-3-stories div:nth-of-type(1) .article-container, #bottom-3-stories div:nth-of-type(2) .article-container {
    border-right: 1px solid green;
}

@media screen and (min-width: 768px)
{
    .navbar-brand {
        background-position: bottom;
    }
}