body {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
}

.navbar-header {
    height:300%;
    border: solid red;
    width:100%
}

.navbar-brand {
    background: url("images/news.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

li {
    border: solid black
}

@media screen and (min-width: 768px)
{
    .navbar-brand {
    /* width:130px; */
    /* height:90px; */
    /* top:40px; */
    }
    .navbar-header {
        /* width:130px; */
    }
}

@media screen and (min-width: 992px)
{
    .navbar-brand {
    /* width:210px;
    height:150px;
    top:0; */
    }
}